@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  min-width: 1200px;
}
header {
  background: url("../img/bacground-header.jpg") no-repeat;
  height: 800px;
}
section {
  background: #ffffff;
  /* height: 1386px; */
  height: auto;
}
main {
  height: 1181px;
  background: #e9edef;
  padding-top: 1px;
}
.top-menu {
  min-width: 1200px;
  height: 120px;
  top: 0px;
  display: flex;
  background: rgba(94, 93, 88, 0.6);
  align-items: center;
}
.logo {
  position: relative;
  margin-left: 250px;
  margin-right: 6px;
}

.text-logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}
.text-logo span {
  color: #18cfab;
  font-weight: bold;
}
.top-list {
  margin-left: 200px;
}
.top-list-item {
  padding-right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.top-list-item:hover {
  color: #18cfab;
}
.captions-header {
  text-align: center;
  align-items: center;
  margin-top: 220px;
}
.caption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.h3-header {
  font-size: 35px;
  height: 35px;
  padding-bottom: 70px;
}
.h1-header {
  font-size: 70px;
  height: 80px;
}
.caption:nth-child(3n) {
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  color: #d4d4d4;
}
.captions-header span {
  color: #18cfab;
  font-weight: 900;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.btn {
  margin-right: 26px;
  background: #00cbf6;
  color: #ffffff;
  width: 169px;
  height: 63px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  border-top: 4px solid white;
}
.btn:nth-child(2) {
  background: #18cfab;
}
.container-box {
  display: flex;
  margin-top: 8px;
}
.box {
  width: 482px;
  height: 377px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #18cfab;
  background: #1c2a33;
}
.box:nth-child(2n) {
  background: #18cfab;
  color: #ffffff;
}
.box p {
  padding-top: 59px;
}
.box img {
  padding-top: 106px;
}
.heading {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-top: 60px;
  color: #4e4e4e;
}
.heading::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 143px;
  left: 80px;
  position: absolute;
}
.button-section {
  display: flex;
  justify-content: center;
}
.heading::before {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 140px;
  left: 70px;
  position: absolute;
}
.btn-section {
  width: 192px;
  height: 73px;
  border: 1px solid #edefef;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  margin-top: 73px;
  color: #717171;
}
.btn-section.active {
  background: #18cfab;
  color: #717171;
}
.btn-section:hover {
  border: 1.5px solid #18cfab;
}
.section-text {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  margin: 27px 183px 91px 183px;
  color: #777777;
}
.text {
  margin-left: 15px;
}
.background-section {
  background: url("../img/background-section.jpg") no-repeat;
  height: 476px;
  text-align: center;
}
.title-bacground-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding-top: 126px;
  color: #18cfab;
}
.background-section p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-top: 12px;
}
.button-main {
  display: flex;
  justify-content: center;
  padding-top: 77px;
}
.btn-main {
  min-width: 136px;
  height: 58px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
}
.btn-main:nth-child(1) {
  min-width: 77px;
}
.btn-main:hover {
  border: 2px solid #18cfab;
}
.image-container-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 71px;
  padding-left: 130px;
  padding-right: 130px;
}
.img-main {
  width: 285px;
  height: 207px;
}
.img-main-text {
  text-align: center;
  border-top: 3px solid #18cfab;
  padding-top: 32px;
}
.img-main-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;

  color: #18cfab;
}
.img-main-text p:nth-child(3) {
  color: #8a8a8a;
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  padding-top: 0px;
}
.label-main {
  background: #18cfab;
  border: none;
  margin-top: 0px;
}
.label-main img {
  padding-right: 15px;
}
.copyright {
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22353f;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.copyright span {
  color: #18cfab;
}
.breaking-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.breaking-news-lines {
  padding-top: 80px;
}
.image-news {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  position: relative;
  width: 260px;
  height: 280px;
  background-color: rgb(248, 252, 254);
  cursor: pointer;
}
.heading-our-services {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-top: 60px;
  color: #4e4e4e;
}
.heading-our-services::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 143px;
  left: 710px;
  position: absolute;
}
.heading-our-services::before {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 140px;
  left: 700px;
  position: absolute;
}

.heading-our-amazing-work {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-top: 60px;
  color: #4e4e4e;
}

.heading-our-amazing-work::after {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 143px;
  left: 110px;
  position: absolute;
}
.heading-our-amazing-work::before {
  content: "";
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  top: 140px;
  left: 100px;
  position: absolute;
}

.image-breaking-news {
  width: 100%;
  height: 208px;
}

.bottom-breaking-news {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(238, 239, 239);
  height: 72px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.indent {
  padding-bottom: 10px;
}

.top-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #203e38;
  height: 70px;
  position: absolute;
  width: 70px;
  top: 0;
  right: 0;
}

.news-title {
  font-family: "Montserrat", sans-serif;
  color: #717171;
  font-size: 18px;
  font-weight: 700;
}

.vertical-line:after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #777777;
  top: 40px;
  left: 85px;
  position: absolute;
}

.link-section-note {
  font-family: "Montserrat", sans-serif;
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  margin: 0 10px;
  margin-left: 0px;
  left: 80px;
}

.top-right-section-date {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.image-news:hover .top-right-section {
  background-color: #18cfab;
}

.image-news:hover .news-title {
  color: #18cfab;
}

.section-image-news {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 100px;
}

.what-people-say {
  background-image: url("../img/background-article.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.people-say-background {
  display: flex;
  justify-content: center;
  background-color: rgba(46, 74, 91, 0.5);
}

.content-block-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1160px;
}

.authors-main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services-people-say {
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  position: relative;
  color: #ffffff;
}

.people-say-line::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 170px;
  left: 250px;
  position: absolute;
}

.people-say-line::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 173px;
  left: 260px;
  position: absolute;
}

.description-author {
  font-family: "Montserrat", sans-serif;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  margin-top: 46px;
  text-align: center;
}

.fa-quote-left-people-say {
  color: #18cfab;
  font-size: 30px;
  margin-top: 105px;
}

.name-author {
  font-family: "Montserrat", sans-serif;
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  margin-top: 43px;
}

.position-author {
  font-family: "Montserrat", sans-serif;
  color: #bbbbbb;
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
}

.mini-circle-photo {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
  transition: all 0.3s;
  margin: 0 20px;
}

.mini-circle-photo:hover {
  cursor: pointer;
}

.mini-circle-border {
  border: 1px solid #18cfab;
  transform: translateY(-10px);
  transition: all 0.3s;
}

.image-block-author {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #18cfab;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 27px;
  box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
  height: 100%;
}

.scroll-block-authors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 480px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(188, 188, 188);
}

.square:hover {
  background-color: #18cfab;
  cursor: pointer;
}

.fa-angle {
  color: white;
  font-size: 13px;
}

.karusel {
  display: flex;
}

.our-amazing-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9edef;
}

.celeste-line::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 170px;
  left: 130px;
  position: absolute;
}

.celeste-line::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #18cfab;
  top: 173px;
  left: 140px;
  position: absolute;
}

.list-amazing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 60px;
  background-color: white;
}

.li-amazing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #717171;
  font-size: 14px;
  margin: 0;
  border: 1px solid rgb(236, 236, 236);
  flex-grow: 1;
  list-style-type: none;
  transition: all 0.7s;
}

.li-amazing:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
  cursor: pointer;
}

.active-amazing {
  color: #18cfab;
  border: 2px solid #18cfab;
}

.menu-amazing-block {
  width: 600px;
  margin-top: 100px;
}

.image-amazing {
  width: 100%;
}

.amazing-items {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 70px;
  width: 1160px;
}

.margin-bottom {
  margin-bottom: 230px;
}

.items-image {
  position: relative;
  height: 210px;
  width: 290px;
  margin: 0;
  padding: 0;
}

.load-more {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  border-radius: 4px;
  background-color: #18cfab;
  width: 165px;
  height: 60px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 100px;
  transition: all 0.3s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.load-more:hover {
  background-color: #00a096;
}

.hover-amazing-items {
  display: flex;
  justify-content: center;
  border-top: 3px solid #18cfab;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  background: rgb(248, 252, 254);
  top: 0;
  position: absolute;
  height: 211px;
  width: 100%;
  transition: all 0.7s;
}

.items-image:hover .hover-amazing-items {
  opacity: 1;
}

.fa-link-circle {
  color: #18cfab;
  font-size: 15px;
}

.fa-plus-button {
  font-size: 16px;
}

.search-link {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.link {
  border: 2px solid #18cfab;
  margin-right: 5px;
}

.search {
  background-color: #18cfab;
  margin-left: 5px;
}

.hover-creative-design {
  margin-top: 34px;
  font-family: "Montserrat", sans-serif;
  color: #18cfab;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.hover-web-design {
  font-family: "Montserrat", sans-serif;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 300;
  margin-top: 12px;
}
